/* Reset default browser settings */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
* {
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  position: static;
  background: #433951;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a:hover {
  cursor: pointer;
}

/* Navigation Styling for Large Screen */
nav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 11;
  backdrop-filter: blur(80px);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  justify-content: space-around;
  align-items: center;
  /* box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3); */
  height: 6vh;
}

nav ol {
  display: flex;
  justify-content: space-around;
  list-style-type: decimal-leading-zero;
  font-size: 0.8rem;
  font-weight: 500;
  color: #ffb20a;
  padding: 10px 0;
  width: 95%;
}

nav a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: #e5e5e5;
}

nav a:hover {
  border-bottom: 2px solid #ffb20a;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffb20a;
  margin: 5px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Media Query tablet screen */
@media screen and (min-width: 521px) and (max-width: 1024px) {
  nav a {
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 500;
    color: #e5e5e5;
  }

  nav ol {
    font-size: 0.6rem;
    font-weight: 500;
    color: #ffb20a;
    padding: 10px 0;
  }
}

/* Medial Query Phone size */
@media screen and (max-width: 520px) {
  .shadow-off {
    box-shadow: none;
    transition: transform 1s ease-in;
  }

  body {
    overflow-x: hidden;
  }

  .menu {
    position: fixed;
    right: 0px;
    height: 100vh;
    width: 70%;
    top: 0vh;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 1s ease-in;
  }

  .menu li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  nav {
    justify-content: flex-end;
  }

  div.burger {
    margin-right: 15px;
  }

  .remove-blur {
    backdrop-filter: none;
  }

  .add-blur {
    backdrop-filter: blur(80px);
  }

  .body-fixed {
    height: 100%;
    overflow: hidden;
  }

  .menu-active {
    transform: translateX(0%);
  }
}

@keyframes linkFade {
  from {
    opacity: 0;
    transform: translateX(25px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Landing page styling Laptop */

/* Landing page styling */
section {
  padding-bottom: 3rem;
  box-sizing: border-box;
}
section#section-1 {
  height: 100vh;
  display: flex;
}

div.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

div.landing-page > h4 {
  color: #ffb20a;
  font-weight: lighter;
  font-size: 1.5vw;
  padding-bottom: 0.025em;
}

div.landing-page > h1 {
  color: #e5e5e5;
  font-weight: bolder;
  font-size: 4.5vw;
  padding-bottom: 0.05em;
}

div.landing-page > h2 {
  color: #d1cfd4;
  font-weight: bold;
  font-size: 4vw;
  padding-bottom: 0.05em;
}

div.landing-page > h3 {
  color: #b4b3b6;
  font-weight: bold;
  word-wrap: break-word;
  text-align: justify;
  font-size: 1.6vw;
}

div.landing-button button {
  background-color: #433951;
  color: #ffb20a;
  border: 2px solid #ffb20a;
  border-radius: 5px;
  font-size: 1.2vw;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
  width: 12em;
  height: 4.5em;
  outline: none;
}

div.landing-button button:hover {
  background-color: #3a3049;
}

div.landing-button button:active {
  background-color: #3a3049;
  border: 3px solid #ffb20a;
}

div.social-media {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 2vh;
}

div.social-media .iconify {
  color: #b4b3b6;
  font-size: 24px;
}

div.social-media .iconify:hover {
  color: #ffb20a;
  font-size: 24px;
}

div.social-media .iconify:active {
  color: #ffb20a;
  font-size: 24.5px;
}

div.social-media ul {
  list-style: none;
}

.vl {
  border-left: 1px solid #c0b9ca;
  height: 50px;
  align-self: center;
}

/* Landing page styling Mobile */
@media screen and (max-width: 520px) {
  div.landing-page {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  div.social-media,
  .vl {
    display: none;
  }

  div.landing-page > h4 {
    font-size: 4vw;
    padding-bottom: 0.025em;
  }

  div.landing-page > h1 {
    font-size: 9vw;
    padding-bottom: 0.05em;
  }

  div.landing-page > h2 {
    font-size: 7.5vw;
    padding-bottom: 0.05em;
  }

  div.landing-page > h3 {
    font-size: 3.75vw;
    text-align: justify;
  }

  div.landing-button button {
    font-size: 3vw;
  }
}

/* About Me Page Styling (Large Screen) */

div.about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding-top: 6vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.about-top {
  display: inherit;
  flex-direction: row;
  padding-bottom: 25px;
}

.hl {
  border-top: 1px solid #c0b9ca;
  width: 50vw;
  align-self: center;
  margin-left: 20px;
}

.num {
  color: #ffb20a;
}

.cont {
  color: #ffffff;
}

.num,
.cont {
  font-weight: bold;
  font-size: 2.5vw;
}

.about-content {
  display: flex;
  justify-content: space-between;
}

.about-content p {
  color: #d6d1dc;
  text-align: justify;
  font-weight: normal;
  font-size: 1.77vw;
  padding-bottom: 5px;
}

.about-content-text {
  width: 45%;
  height: 60%;
}

.about-content-text a {
  text-decoration: none;
  color: #ffb20a;
}

.about-img {
  width: 45%;
  height: 60%;
  border: 2px solid #ffb20a;
}
.skills {
  padding-top: 2em;
}

.skills ul {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  margin: 0.75em 0;
  list-style: none;
}

.skills li {
  color: #d6d1dc;
  font-weight: normal;
  font-size: 1.25vw;
  padding-right: 5px;
}

.skills li:before {
  content: "▹";
  position: relative;
  left: 0px;
  color: #ffb20a;
  line-height: 12px;
  padding-right: 1em;
}

/* About Me styling (Mobile) */
@media screen and (max-width: 520px) {
  .num,
  .cont {
    font-weight: bold;
    font-size: 4.5vw;
  }

  .hl {
    width: 30vw;
  }

  .about-content {
    flex-direction: column;
    justify-content: space-between;
  }

  .about-content-text {
    width: 80vw;
    height: 40%;
    order: 2;
  }

  .about-img {
    width: 80vw;
    height: 40%;
    order: 1;
    margin-bottom: 20px;
  }

  .about-content p {
    text-align: justify;
    color: #d6d1dc;
    font-weight: normal;
    font-size: 4vw;
    padding-bottom: 7px;
  }

  .skills ul {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0.1em 0;
    list-style: none;
  }

  .skills li {
    color: #d6d1dc;
    font-weight: normal;
    font-size: 3.75vw;
    padding-right: 3px;
  }
}

/* Background Styling */
div.background {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding-top: 6vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.background-top {
  display: inherit;
  flex-direction: row;
  padding-bottom: 25px;
}

#background-head {
  display: flex;
  align-items: center;
  padding-bottom: 12.5px;
}

#background-head h2 {
  font-size: 1.9vw;
  color: #e5e5e5;
  font-weight: bold;
  padding-right: 7.5px;
}

#background-head .iconify {
  align-items: center;
  color: #ffb20a;
  font-size: 2vw;
}

#background-content {
  display: inherit;
  flex-direction: column;
}

.exp-section {
  display: flex;
  justify-content: space-between;
}

.exp-section .exp {
  width: 35%;
  display: flex;
  flex-direction: column;
  height: 290px;
  overflow: scroll;
  overflow-x: hidden;
}

.exp-section #exp-vl {
  border-left: 2px solid #ffb20a;
  height: 290px;
  align-self: center;
  margin: 0 10px;
}

.exp-section #exp-content {
  width: 65%;
}

.exp button {
  background-color: #433951;
  color: #e5e5e5;
  border: 1px solid #b4b3b6;
  border-radius: 5px;
  padding: 15px 32px;
  margin-bottom: 7.5px;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
  outline: none;
}

.exp button:hover {
  background-color: #3a3049;
}

.exp button:active {
  background-color: #3a3049;
  border: 3px solid #ffb20a;
}

div#exp-content {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#exp-content h1 {
  color: #e5e5e5;
  font-size: 1.6vw;
}

#exp-content h2 {
  color: #e5e5e5;
  font-size: 1vw;
  padding: 5px 0;
}

#exp-content ul {
  list-style: none;
}

#exp-content li {
  color: #d6d1dc;
  text-align: justify;
  font-weight: normal;
  font-size: 1.2vw;
  padding-left: 15px;
}

#exp-content li:before {
  content: "▹";
  position: relative;
  left: 0px;
  color: #ffb20a;
  line-height: 12px;
  padding-right: 1em;
}

#edu-head {
  display: flex;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 12.5px;
}

#edu-head h2 {
  font-size: 1.9vw;
  color: #e5e5e5;
  font-weight: bold;
  padding-right: 7.5px;
}

#edu-head .iconify {
  align-items: center;
  font-size: 2vw;
}

.edu-content h2,
li {
  color: #e5e5e5;
  font-weight: lighter;
}

.edu-content h1 {
  color: #e5e5e5;
  font-weight: bold;
  font-size: 1.6vw;
}

.edu-content h2 {
  font-size: 1vw;
  font-weight: bold;
}

.edu-content li {
  font-size: 1vw;
}

.edu-content li {
  list-style: none;
  color: #d6d1dc;
  text-align: justify;
  font-weight: normal;
  font-size: 1.2vw;
  padding-left: 15px;
}

.edu-content li:before {
  content: "▹";
  position: relative;
  left: 0px;
  color: #ffb20a;
  line-height: 12px;
  padding-right: 1em;
}

/* Background styling (Mobile) */
@media screen and (max-width: 520px) {
  .background-top {
    padding-bottom: 10px;
  }

  #background-head h2 {
    font-size: 3.5vw;
  }

  #background-head .iconify {
    font-size: 3.5vw;
  }

  .exp-section {
    display: flex;
    flex-direction: column;
  }

  .exp-section .exp {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 75px;
    width: 75vw;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .exp-section #exp-vl {
    height: 80vw;
    transform: rotate(90deg);
    align-self: center;
    margin-top: -38vw;
  }
  .exp-section #exp-content {
    width: 100%;
    margin-top: -35vw;
  }

  #exp-content h1 {
    font-size: 3.2vw;
    padding-bottom: 5px;
  }

  #exp-content h2 {
    font-size: 2.2vw;
  }

  #exp-content li {
    font-size: 2.7vw;
  }

  .exp button {
    background-color: #433951;
    color: #e5e5e5;
    border: 1px solid #b4b3b6;
    border-radius: 5px;
    padding: 2px 40px;
    margin-bottom: 2px;
    font-size: 2vw;
    font-weight: bold;
  }

  #edu-head {
    padding-top: 15px;
    padding-bottom: 12.5px;
  }

  #edu-head h2 {
    font-size: 3.5vw;
  }

  #edu-head .iconify {
    font-size: 3.5vw;
  }
  .edu-content h1 {
    font-size: 3.2vw;
    padding-bottom: 5px;
  }

  .edu-content h2 {
    font-size: 2.2vw;
    padding-top: 5px;
  }

  .edu-content li {
    font-size: 2.7vw;
  }
}

/* Pencraft Styling - Large Screen */

div.pencraft {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  padding-top: 6vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.pencraft-top {
  display: inherit;
  flex-direction: row;
  padding-bottom: 25px;
}

.pencraft-content {
  display: inherit;
  flex-direction: column;
}

.pen {
  display: inherit;
  position: relative;
  height: 25vw;
  width: 100%;
  margin: 10px;
}

.article-image {
  position: absolute;
  z-index: 2;
}

.article-image img {
  width: 43.5%;
  height: 100%;
}

.article-image::before {
  content: "";
  background-color: rgba(255, 178, 10, 0.6);
  position: absolute;
  width: 43.5%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.article-image:hover::before {
  content: "";
  background: rgba(255, 178, 10, 0);
  width: 43.5%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.article-content {
  position: relative;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  /* float: right; */
  z-index: 3;
  margin-left: 25vw;
  width: 70%;
  height: 75%;
  z-index: 2;
  top: 12.5%;
  background-color: #544866;
}

.article-content .article-title {
  padding: 0 0.5vw;
  padding-bottom: 1vw;
  padding-top: 0.5vw;
  font-weight: bolder;
  color: #e5e5e5;
  text-align: justify;
}

.article-content .article-description {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
}

.article-content p {
  text-align: justify;
  font-size: 1.2vw;
  color: #e5e5e5;
}

/* Pencraft Mobile Styling */
@media screen and (max-width: 520px) {
  .pencraft-top {
    padding-bottom: 10px;
  }

  .pen {
    flex-direction: column;
    margin-bottom: 80px;
  }

  .article-image {
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
  }

  .article-image img {
    width: 80%;
  }

  .article-content {
    display: none;
  }

  /* 
  .pen {
    display: inherit;
    position: relative;
    height: 25vw;
    width: 100%;
    margin: 10px;
  }

  .article-image {
    position: absolute;
    z-index: 2;
  }

  .article-image img {
    width: 43.5%;
    height: 100%;
  }

  .article-image::before {
    content: "";
    background-color: rgba(255, 178, 10, 0.6);
    position: absolute;
    width: 43.5%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .article-image:hover::before {
    content: "";
    background: rgba(255, 178, 10, 0);
    width: 43.5%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .article-content {
    position: relative;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    margin-left: 25vw;
    width: 70%;
    height: 75%;
    z-index: 2;
    top: 12.5%;
    background-color: #544866;
  }

  .article-content .article-title {
    padding: 0 0.5vw;
    padding-bottom: 1vw;
    padding-top: 0.5vw;
    font-weight: bolder;
    color: #e5e5e5;
    text-align: justify;
  }

  .article-content .article-description {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
  }

  .article-content p {
    text-align: justify;
    font-size: 1.2vw;
    color: #e5e5e5;
  } */
}
