/* Reset default browser settings */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
* {
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  position: static;
  background: #433951;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a:hover {
  cursor: pointer;
}

/* Navigation Styling for Large Screen */
nav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 11;
  backdrop-filter: blur(80px);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  justify-content: space-around;
  align-items: center;
  /* box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3); */
  height: 6vh;
}

nav ol {
  display: flex;
  justify-content: space-around;
  list-style-type: decimal-leading-zero;
  font-size: 0.8rem;
  font-weight: 500;
  color: #ffb20a;
  padding: 10px 0;
  width: 95%;
}

nav a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: #e5e5e5;
}

nav a:hover {
  border-bottom: 2px solid #ffb20a;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffb20a;
  margin: 5px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Media Query tablet screen */
@media screen and (min-width: 521px) and (max-width: 1024px) {
  nav a {
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 500;
    color: #e5e5e5;
  }

  nav ol {
    font-size: 0.6rem;
    font-weight: 500;
    color: #ffb20a;
    padding: 10px 0;
  }
}

/* Medial Query Phone size */
@media screen and (max-width: 520px) {
  .shadow-off {
    box-shadow: none;
    transition: transform 1s ease-in;
  }

  body {
    overflow-x: hidden;
  }

  .menu {
    position: fixed;
    right: 0px;
    height: 100vh;
    width: 70%;
    top: 0vh;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 1s ease-in;
  }

  .menu li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  nav {
    justify-content: flex-end;
  }

  div.burger {
    margin-right: 15px;
  }

  .remove-blur {
    backdrop-filter: none;
  }

  .add-blur {
    backdrop-filter: blur(80px);
  }

  .body-fixed {
    height: 100%;
    overflow: hidden;
  }

  .menu-active {
    transform: translateX(0%);
  }
}

@keyframes linkFade {
  from {
    opacity: 0;
    transform: translateX(25px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Landing page styling Laptop */

/* Landing page styling */
section {
  padding-bottom: 3rem;
  box-sizing: border-box;
}
section#section-1 {
  height: 100vh;
  display: flex;
}

div.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

div.landing-page > h4 {
  color: #ffb20a;
  font-weight: lighter;
  font-size: 1.5vw;
  padding-bottom: 0.025em;
}

div.landing-page > h1 {
  color: #e5e5e5;
  font-weight: bolder;
  font-size: 4.5vw;
  padding-bottom: 0.05em;
}

div.landing-page > h2 {
  color: #d1cfd4;
  font-weight: bold;
  font-size: 4vw;
  padding-bottom: 0.05em;
}

div.landing-page > h3 {
  color: #b4b3b6;
  font-weight: bold;
  word-wrap: break-word;
  text-align: justify;
  font-size: 1.6vw;
}

div.landing-button button {
  background-color: #433951;
  color: #ffb20a;
  border: 2px solid #ffb20a;
  border-radius: 5px;
  font-size: 1.2vw;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
  width: 12em;
  height: 4.5em;
  outline: none;
}

div.landing-button button:hover {
  background-color: #3a3049;
}

div.landing-button button:active {
  background-color: #3a3049;
  border: 3px solid #ffb20a;
}

div.social-media {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 2vh;
}

div.social-media .iconify {
  color: #b4b3b6;
  font-size: 24px;
  cursor: pointer;
}

div.social-media .iconify:hover {
  color: #ffb20a;
  font-size: 24px;
}

div.social-media .iconify:active {
  color: #ffb20a;
  font-size: 24.5px;
}

div.social-media ul {
  list-style: none;
}

.vl {
  border-left: 1px solid #c0b9ca;
  height: 50px;
  align-self: center;
}
